---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './projects';

const title = 'All My Projects';
const description = 'A list of my noteworthy projects';
---

<BaseLayout title={`Defaultmodel - ${title}`} description={description}>
	<div class='container'>
		<div class='mb-10'>
			<h1 class='text-3xl font-bold mb-2'>{title}</h1>
			<p class='text-zinc-700 dark:text-zinc-300 text-lg'>{description}</p>
		</div>
		<ProjectList projects={projects} />
	</div>
</BaseLayout>
